/* == PALETTE ===
*   #FF5722
*   #9E9E9E
*   #607D8B
*   #000000
*   #F5F5F5
* =============== */

.container {
    width: 90% !important;
    margin: 0 auto;
    padding-top: 80px;
}

.hangman {
    width: 35vw;
    margin-top: 40px;
}

.hangman img {
    height: 80vh;
}

.game-area {
    text-align: center;
}

.word {
    font-size: 15vh;
}

.guesses {
    margin-bottom: 50px;
    font-size: 10vh;
    color: #607D8B;
}

.keyboard {
    margin: 15px auto;
    padding: 0;
}

.letters {
    display: inline-block;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: #FF5722;
    color: #F5F5F5;
    list-style: none;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    cursor: pointer;
}
