/* == PALETTE ===
*   #FF5722
*   #9E9E9E
*   #607D8B
*   #000000
*   #F5F5F5
* =============== */

.container {
    width: 90% !important;
}

.hangman img {
    margin-top: 80px;
    width: 500px;
}

.word {
    font-size: 10vw;
}

.guesses {
    margin-bottom: 50px;
    font-size: 6vw;
    color: #607D8B;
}

.keyboard {
    margin: 15px auto;
    width: 80%;
}

.letters {
    display: inline-block;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: #FF5722;
    color: #F5F5F5;
    list-style: none;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    cursor: pointer;
}


/* ===== RESPONSIVE STYLES ===== */

@media (max-width: 978px) {
    .container {
        width: 100%;
        padding: 0;
    }

    .hangman img {
        margin-top: 15px;
        width: 100%;
    }

    .keyboard {
        width: 100%;
    }

    .keys {
        padding: 0;
    }

    .letters {
        margin: 5px;
        width: 32px;
        height: 32px;
        font-size: 24px;
    }
}
