.game-container {
    width: 95% !important;
    margin-top: 30px;
}

.hangman img {
    width: 500px;
    margin-top: 40px;
}

.topic {
    margin-top: -60px;
    font-size: 6vw;
}

.word {
    font-size: 10vh;
}

.guesses {
    margin-bottom: 20px;
    font-size: 8vh;
    color: #607D8B;
}

.score {
    display: inline-block;
    margin-bottom: 40px;
    margin-right: 60px;
    font-size: 5vh;
    color: #607D8B;
}

.strikes {
    display: inline-block;
    font-size: 5vh;
    color: #607D8B;
}

.roboSpace {
    margin-bottom: 2px;
    font-size: 8vh;
}

.roboGuesses {
    margin-bottom: 10px;
    font-size: 8vh;
    color: #607D8B;
}

.keyboard-container {
    margin: 10px auto;
    width: 80%;
}

.letters {
    display: inline-block;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: #FF5722;;
    color: #F5F5F5;
    list-style: none;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    background-color: #607D8B;
}


/* ===== RESPONSIVE STYLES ===== */

@media (max-width: 978px) {
    .container {
        width: 100%;
        padding: 0;
    }

    .hangman img {
        margin-top: 15px;
        width: 90%;
    }

    .word {
        font-size: 8vh;
    }

    .guesses {
        margin-bottom: 10px;
        font-size: 5vh;
    }

    .score {
        display: block;
        margin-bottom: 10px;
        font-size: 3vh;
    }

    .strikes {
        display: block;
        margin-bottom: 10px;
        font-size: 3vh;
    }

    .roboSpace {
	    margin-bottom: 15px;
        font-size: 15vh;
    }

	.roboGuesses {
		margin-bottom: 20px;
		font-size: 5vh;
	}

    .keyboard-container {
        width: 100%;
    }

    .keyboard {
        padding: 0;
    }

    .letters {
        margin: 5px;
        width: 32px;
        height: 32px;
        font-size: 24px;
    }
}
