/* == PALETTE ===
*   #FF5722
*   #9E9E9E
*   #607D8B
*   #000000
*   #F5F5F5
* =============== */

html {
    /* Background pattern from subtlepatterns.com */
    font-family: Amatic SC;
    font-weight: 300;
    margin: 0;
}

body {
    background: url('../img/lined_paper.png');
    font-family: Amatic SC;
    font-weight: 300;
    padding: 10px 50px;
}

.button-area {
    width: 18vw;
    display: inline-block;
    margin: 30px 15px;
    background-color: #FF5722;
    text-align: center;
}

.button-area button {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #F5F5F5;
    font-size: 4vw;
    cursor: pointer;
}

.back-button {
    background-color: transparent !important;
    display: inline-block;
    text-align: center;
}

.back-button button {
    background-color: transparent;
    color: #000000;
    font-size: 3vw;
    font-weight: 600;
    border-radius: 0;
    border: none;
}


/* ===== INTRO SCREEN STYLES ===== */

.stick-figure {
    position: fixed;
    bottom: 2px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.stick-figure img {
    height: 60vh;
    opacity: .9;
}

.thought-bubble {
    font-size: 8vh;
}

.title-area {
    padding-top: 5vh;
}

.title {
    font-size: 20vw;
}


/* ===== RESPONSIVE STYLES ===== */

@media (max-width: 978px) {
    body {
        padding: 0;
    }

    .back-button {
        margin: 15px;
    }

    .back-button button {
        font-size: 3vh;
    }
}
